# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyc
*.pyo

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
env/
.venv/

# -------------------------------
# Pytest
# -------------------------------
.pytest_cache/
.cache/

# -------------------------------
# Reports
# -------------------------------
reports/
allure-results/
allure-report/

# -------------------------------
# Logs
# -------------------------------
logs/
*.log

# -------------------------------
# IDE
# -------------------------------
.vscode/
.idea/

# -------------------------------
# OS
# -------------------------------
.DS_Store
Thumbs.db